body {
    min-height: 100vh;
    font-family: Helvetica, sans-serif;
    overflow-y: visible;
    overflow-x: hidden;
    width: 100%;
}

.card {
    position: relative;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.84);
    width: 400px;
    height: 500px;
    background: #fff;
    padding: 5px;
}